*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
  
}

body{
  background-color: blue;

}
.container{
  width: 70%;
  padding: 20px 0;
  margin: 0 auto;
}

.logo, .input-area{
  text-align: center;
}

.logo img{
  width: 300px;
}

.input-area{
  padding: 40px 0;
}

.input-area input, .input-area button{
  padding: 10px 15px;
  border-radius: 10px;
}


.input-area input{
  width: 300px;
  margin-right: 20px;
}


.tasks-area{
  background-color: #f5f7f7;
  border-radius: 10px;
  padding: 40px;
}


.task{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.task:hover{
  background-color: rgb(36, 36, 254);
}

.task.done span{
  text-decoration: line-through;
  color: red;
}

.error{
  color: red;
  font-size: 3rem;
  margin-top: 20px;
}

button{
  cursor: pointer;
}


.container-fonzie{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.fonzie{
  width: 200px;
}